/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 19, 2015, 11:42:55 PM
    Author     : Jingxian
*/
body {
  font: 14px sans-serif;
}
.feature_outer{
    position: absolute;
    float: left;
    top: 1%;
    left: 0.3%;
    width: 13%;
    height: 98%;
    background: rgb(230,230,230);	
}
.svg1{
    position: relative;
    float: left;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 2740pt;	
}
.feature{
    position: absolute;
    float: left;
    left: 0%;
    width: 100%;
    background: rgb(119,119,119);
    display: table;
}
p.feature_p{
    text-align: center;
    display: table-cell; 
    vertical-align: middle;
    color: white;
    font-family:Georgia;
    font-size: 1.3em;
}
p#feature_p-1{
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: white;
    font-family:Georgia;
    font-size: 1.6em;
}

svg{
    position: absolute;
    float: left;
    top: 1%;
    left: 14%;
    width: 85%;
    height: 98%;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}
.bar rect {
    fill: steelblue;
    shape-rendering: crispEdges;
}
.bar rect:hover{
    fill: rgba(0,0,0,.8);
}

/***FIRST STYLE THE BUTTON***/
input#gobutton{
cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
padding:5px 25px; /*add some padding to the inside of the button*/
background:#35b128; /*the colour of the button*/
border:1px solid #33842a; /*required or the default border for the browser will appear*/
/*give the button curved corners, alter the size as required*/
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
/*give the button a drop shadow*/
-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
box-shadow: 0 0 4px rgba(0,0,0, .75);
/*style the text*/
color:#f3f3f3;
font-size:1.1em;
}
/***NOW STYLE THE BUTTON'S HOVER AND FOCUS STATES***/
input#gobutton:hover, input#gobutton:active{
background:#399630; /*make the background a little darker*/
/*reduce the drop shadow size to give a pushed button effect*/
-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
box-shadow: 0 0 1px rgba(0,0,0, .75);
}
/***FIRST STYLE THE BUTTON***/
input#gobutton1{
cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
padding:5px 25px; /*add some padding to the inside of the button*/
background:#35b128; /*the colour of the button*/
border:1px solid #33842a; /*required or the default border for the browser will appear*/
/*give the button curved corners, alter the size as required*/
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
/*give the button a drop shadow*/
-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
box-shadow: 0 0 4px rgba(0,0,0, .75);
/*style the text*/
color:#f3f3f3;
font-size:1.1em;
}
/***NOW STYLE THE BUTTON'S HOVER AND FOCUS STATES***/
input#gobutton1:hover{
background:#399630; /*make the background a little darker*/
/*reduce the drop shadow size to give a pushed button effect*/
-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
box-shadow: 0 0 1px rgba(0,0,0, .75);
}
input#gobutton1:active{
background:#000; /*make the background a little darker*/
/*reduce the drop shadow size to give a pushed button effect*/
-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
box-shadow: 0 0 1px rgba(0,0,0, .75);
}
#gobutton{
    position: relative;
    float: left;
    top: 10px;
    left: 20%;
    width: 120pt;
    height: 25pt;	
    z-index: 100;
}
#gobutton1{
    position: relative;
    float: left;
    top: 10px;
    left: 30%;
    width: 147pt;
    height: 25pt;	
    z-index: 100;
}